html 
    head
        title='Cargar productos'
        
        link(rel='stylesheet' href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous")
    
    body
      section(style='text-align: center; margin-top: 5rem')
        h2='Ingrese Producto a Agregar'

        form(
          class="container" 
          style="width: 40vw " 
          action="/api/productos/guardar" 
          method="POST"
        )
          div(
            class='mb-3'
          )
            label(
              for="title" class="form-label"
            )= 'Title:'
            input(
              type="text" name='title' class="form-control" id="title" required
            )
          
          div(
            class='mb-3'
          )
            label(
              for="price" class="form-label"
            )= 'Price:'
            input(
              type="number" name='price' class="form-control" id="price" required
            )

          div(
            class='mb-3'
          )
            label(
              for="thumbnail" class="form-label"
            )= 'Link image:'
            input(
              type="text" name='thumbnail' class="form-control" id="thumbnail" required
            )

          button(
            type="submit" class="btn btn-primary"
          )='Enviar'
