<h6>Argumentos:</h6>
{{#each args}}

  <p>{{this}}</p>
{{/each}}
<h6>Sistema:</h6>
<p>{{sistema}}</p>
<h6>Memoria:</h6>
{{#each memory}}
  <p>{{this}}</p>
{{/each}}
<h6>Path:</h6>
<p>{{path}}</p>
<h6>Id:</h6>
<p>{{id}}</p>
<h6>Carpeta:</h6>
<p>{{carpeta}}</p>
<h6>Num Procesadores:</h6>
<p>{{numPro}}</p>